@model EmployeeScheduleApplication.Models.Shift
@using Microsoft.AspNetCore.Mvc.Rendering;

@{
    ViewData["Title"] = "Create";
    List<Employee> employeeList = (List<Employee>) ViewData["employeeList"];
    List<Schedule> scheduleList = (List<Schedule>)ViewData["scheduleList"];
    //make selectList to for dropdownlist.
    IEnumerable<SelectListItem> EmployeeSelectList =
               from e in employeeList
               select new SelectListItem
                {
                    Selected = true,
                    Text = e.EmployeeName,
                    Value = e.EmployeeId.ToString()

                };

    IEnumerable<SelectListItem> scheduleSelectList =
      from a in scheduleList
      select new SelectListItem
              {
                  Selected = true,
                  Text = a.ScheduleName,
                  Value = a.ScheduleId.ToString()
              };

    
}

<h1>Create</h1>

<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div>
                
                <b>Select Employee to assaign a shift too</b>
                <!--
                    https://stackoverflow.com/questions/27901175/how-to-get-dropdownlist-selectedvalue-in-controller-in-mvc
                    https://social.msdn.microsoft.com/Forums/en-US/6894c2d6-ab14-4edd-8a9d-3b4508398f2f/get-selected-value-from-htmldropdownlistfor-in-controller?forum=aspgettingstarted
                    i could try a foreach and 
                -->
                @Html.DropDownListFor( model => model.Employee, EmployeeSelectList) 
              
                
            </div>
            <div>
                <b>select a scheudle</b>
                @Html.DropDownListFor(model => model.Schedule, scheduleSelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

