

@{
    ViewData["Title"] = "Details";
    //accept list of shifts with the selected schedule 
    List<Shift> shifts = (List<Shift>)ViewData["shifts"];
}

<h1>Details</h1>

@if(shifts != null)
{
    <table class="table">
    <thead>
        <th>howdy</th>
    </thead>
    <tbody>
        @foreach (var item in shifts) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <p>they're no shifts applied to this schedule</p>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>
